body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #000;
}

#div {
    padding-left: 10px;
}

#main {
    background-color: #000;
}

header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

main {
    background-color: green;
}

#heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: #FFF;
    padding-top: 10px;
}

#heading1 {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.3em;
}

#heading1 button {
    display: inline;
}

#flower {
    height: 70px;
    width: 70px;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
}

.one {
  position: relative;
  width: auto;
  align-items: center;
}

.one:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: #FFF;
    z-index: -3;
}

.one:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -5px;
    right: -5px;
    background: #fff;
    z-index: -2;
    filter: blur(100vh);
}

.one:after,
.one:before {
    background: linear-gradient(235deg,#a3f842,#060c21,#13dffa);
}

ul {
    width: 100%;
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 0 15px 40px rgba(0,0,0,1);
}

ul li {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    font-size: 1em;
    padding: 15px;
    font-family: sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    transition: 1s;
}

ul li:hover {
    color: #111;
}

ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3fff00;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom; 
}

ul li:hover:before {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top; 
}

ul li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -2;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom; 
    filter: blur(40px);
}

ul li:hover:after {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top; 
}

#info {
    display: flex;
}

#span {
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #25d366;
    height: 19px;
    width: 19px;
    color: white;
    border-radius: 50%;
}

.span {
    padding: 30px 31.5px 8px 31.5px;
}

.span:nth-child(2) {
    border-bottom: 2px solid #fff;
}

#img {
    margin-left: 10px;
}

#details {
    margin-left: 20px;
}

#details h3 {
    margin: 0;
}

#details p:nth-child(2) {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
}

@media only screen and (max-width: 430px) {
    #main {
        width: 95%;
    }

    ul li {
        padding: 15px 0;
        font-size: 0.9em;
    }

    #time {
        margin-right: 10px;
    }

    #time p {
        font-size: 0.8em;
    }

    #flower {
        height: 65px;
        width: 65px;
    }

    #heading {
        font-size: 1.3em;
    }

    .fa-search:before, .fa-ellipsis-v:before {
        font-size: 0.9em;
    }

    #heading1 {
        font-size: 1.2em;
    }

    .span {
        padding: 30px 15px 8px 15px;
    }
}

@media only screen and (max-width: 380px) {
    #details {
        margin-left: 10px;
    }

    #details p {
        font-size: 0.8em;
    }

    #heading1 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 325px) {
    #flower {
        height: 60px;
        width: 60px;
    }

    #details h3 {
        font-size: 1.1em;
    }

    #heading1 {
        font-size: 1em;
    }

    .fa-search:before, .fa-ellipsis-v:before {
        font-size: 0.7em;
    }

    header {
        padding: 3px 5px;
    }

    .fa-snapchat-ghost:before,
    .fa-facebook-square:before, .fa-facebook-messenger:before, .fa-wifi:before,
    .fa-signal:before, .fa-battery-full:before, b {
        font-size: 0.9em;
    }

    #time p {
        margin-top: 2px;
    }
        
    #span, #time {
        margin-right: 5px;
    }

    #span {
        font-size: 9px;
        height: 17px;
        width: 17px;
    }

    #img {
        margin-left: 5px;
    }

    #details {
        margin-left: 5px;
    }

    #flower {
        height: 55px;
        width: 55px;
    }

    #heading1 {
        font-size: 0.9em;
    }

    #details p {
        margin-top: 8px;
    }
}
